EXPO_PUBLIC_MOODLE_BASE_URL=https://sunan.umk.ac.id
EXPO_PUBLIC_MOODLE_SERVICE=moodle_mobile_app

# Isi dua variabel di bawah untuk aktivasi sinkron data ke Supabase
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Opsional: dipakai untuk registrasi Expo push token
EXPO_PUBLIC_EXPO_PROJECT_ID=

# Gunakan true untuk development tanpa kredensial real SUNAN
EXPO_PUBLIC_USE_MOCK_DATA=true
